@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html {
	font-family: "Lato", sans-serif;
	font-weight: 300;
}
#container {
	width: 70%;
	margin: 0 auto;
}
a {
	color: rgb(80,80,80);
	text-decoration: none;
	font-size: 21px;
	-webkit-transition: all 2s ease-in-out;
	transition: all .2s ease-in-out;
}
a:hover {
	color: black;
	text-shadow: 2px 2px 3px #6B6B6B;
}
footer {
	position: fixed;
	bottom: 1px;
	visibility: hidden;      /* hidden vis*/
	width: 500px;
	margin: 0 auto;
}
ul li {
	list-style: none;
	float: left;
	margin: 10px;
}
nav {
	margin: 0 auto;
	width: 500px;
}
.welcome {
	font-size: 30px;
}
.indent {
	text-indent: 100px;
}
